@model IEnumerable<WebPorfolioGenerator.Models.Post>
@{
    ViewData["Title"] = "Index";
}
<h2>Index</h2>

<div class="container">
    @foreach (var item in Model)
    {
        <div class="col-md-12 R">
            @Html.DisplayFor(modelItem => item.Title)
        </div>
        <div class="col-md-12 R">
            @Html.DisplayFor(modelItem => item.Subtitle)
        </div>
        <div class="col-md-12">
            @Html.DisplayFor(modelItem => item.ModificationDate)
        </div>
    }
</div>
