@model WebPorfolioGenerator.Models.User
@{
    ViewData["Title"] = "Edit";
}
<h2>Edit</h2>
<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="UserName" />
            <input type="hidden" asp-for="RolId" />
            <div class="form-group col-md-6">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Birth" class="control-label"></label>
                <input type="date" asp-for="Birth" class="form-control" />
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
            </div>
            <div class="form-group col-md-6">
                <label asp-for="MovilePhone" class="control-label"></label>
                <input asp-for="MovilePhone" class="form-control" />
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Password" class="control-label"></label>
                <input id="pswrdOne" required asp-for="Password" class="form-control" />
            </div>
            <div class="form-group col-md-6">
                <label class="control-label">Repeat the password</label>
                <input id="pswrdTwo" required asp-for="Password" class="form-control" />
            </div>
            <div class="form-group col-md-12">
                <label id="difPswrd" class="control-label"></label>
            </div>
            <div class="form-group col-md-6">
                <span asp-validation-for="UserName" class="text-danger"></span>
                <span asp-validation-for="RolId" class="text-danger"></span>
                <span asp-validation-for="Name" class="text-danger"></span>
                <span asp-validation-for="Surname" class="text-danger"></span>
                <span asp-validation-for="Birth" class="text-danger"></span>
                <span asp-validation-for="Email" class="text-danger"></span>
                <span asp-validation-for="MovilePhone" class="text-danger"></span>
                <span asp-validation-for="Phone" class="text-danger"></span>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="row buttonContainer">
                <div class="col-md-12 R">
                    <a class="linkButton" asp-action="Index">Back to List</a>
                    <input class="linkButton" id="editUser" type="submit" value="Save" class="btn btn-default" />
                </div>
        </form>
    </div>
</div>
