@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model WebPorfolioGenerator.Models.Portfolio
@{
    ViewData["Title"] = "Create";
}
<h2>Create</h2>
<h4>Portfolio</h4>
<hr />


<div class="row">
    <div class="col-md-12">
        <script type="text/javascript">alert('Paco')</script>
        @{
            string routeId = ViewContext.RouteData.Values["id"].ToString();
            string userId = !String.IsNullOrEmpty(routeId) && !routeId.Equals("0") ? routeId : HttpContextAccessor.HttpContext.Session.GetInt32("UserId").ToString();
        }

        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" class="form-control col-md-6" value="@userId" />
            <div class="form-group col-md-6">
                <label asp-for="PortfolioName" class="control-label">Title</label>
                <input asp-for="PortfolioName" class="form-control" />
                <span asp-validation-for="PortfolioName" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="PortfolioSurname" class="control-label">Subtitle</label>
                <input asp-for="PortfolioSurname" class="form-control" />
                <span asp-validation-for="PortfolioSurname" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label class="control-label">Background image</label>
                <input type="file" name="image" id="image" class="form-control" />
            </div>
            <div class="form-group col-md-6">
                <label asp-for="FirstColor" class="control-label">First color</label>
                <input type="color" asp-for="FirstColor" class="form-control" />
                <span asp-validation-for="FirstColor" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="SecondColor" class="control-label">Second color</label>
                <input type="color" asp-for="SecondColor" class="form-control" />
                <span asp-validation-for="SecondColor" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="FontId" class="control-label">Font</label>
                <select asp-for="FontId" asp-items="@(new SelectList(@ViewBag.Fonts,"Id","FontName"))" class=" form-control"></select>
                <span asp-validation-for="FontId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12 R">
                <a class="linkButton" asp-action="Index">Back to List</a>
                <input type="submit" value="Create" class="btn btn-default linkButton" />
            </div>
        </form>
    </div>
</div>
