@model WebPorfolioGenerator.Models.Portfolio
@{
    ViewData["Title"] = "Create";
}
<h2>Create</h2>
<h4>Portfolio</h4>
<hr />


<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div id="modelOne" class="form-group col-md-6 C">
                <input class="form-control" type="radio" name="model" value="1">M O D E L 1<br>
            </div>
            <div id="modelTwo" class="form-group col-md-6 C">
                <input class="form-control" type="radio" name="model" value="2" checked> M O D E L 2<br>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="PortfolioName" class="control-label">Title</label>
                <input asp-for="PortfolioName" class="form-control" />
                <span asp-validation-for="PortfolioName" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="PortfolioSurname" class="control-label">Subtitle</label>
                <input asp-for="PortfolioSurname" class="form-control" />
                <span asp-validation-for="PortfolioSurname" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="UrlBackgroundImage" class="control-label">Background image</label>
                <input type="file" src="" asp-for="UrlBackgroundImage" class="form-control" />
                <span asp-validation-for="UrlBackgroundImage" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="FirstColor" class="control-label">First color</label>
                <input type="color" asp-for="FirstColor" class="form-control" />
                <span asp-validation-for="FirstColor" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="SecondColor" class="control-label">Second color</label>
                <input type="color" asp-for="SecondColor" class="form-control" />
                <span asp-validation-for="SecondColor" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="FontId" class="control-label">Font</label>
                <select asp-for="FontId" asp-items="@(new SelectList(@ViewBag.Fonts,"Id","FontName"))" class=" form-control"></select>
                <span asp-validation-for="FontId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
