* { 
    background-color: #00e1ff;
    background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
}

.contenedorLogin {
   margin-top: 80px;
   padding: 30px;
   background: white;
}

.contenedorLogin form{
    background: white;
}


