

#login input {
    border: 3px solid black;
    padding: 10px;
    margin: inherit;
}

.fa-times {
    color: crimson;
}

.redbutton {
    border: 5px solid #ff000085;
}

.R {
    text-align: right;
}

.L {
    text-align: left;
}

.C {
    text-align: center;
}

.linkButton {
    border: 5px solid #ced04e;
    padding: 10px;
}


#postBody {
    height: auto;
    min-width: 100%;
    min-height: 303px;
}

.buttonContainer {
    margin-top: 50px;
}





#titleBlog {
    border: 3px solid black;
    padding: 12px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

#modelOne {
    height: 100px;
    background-color: #00c5cc;
    background-image: url(https://www.transparenttextures.com/patterns/asfalt-dark.png);
}

#modelTwo {
    height: 100px;
    background-color: #f9a7b0;
    background-image: url(https://www.transparenttextures.com/patterns/asfalt-dark.png);
}