body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}



/************************/


@import url('https://fonts.googleapis.com/css?family=Muli');

* {
    font-family: 'Muli', sans-serif;
}

input[type="text"] {
    border: 4px solid grey;
    padding: 10px;
    margin: 10px;
}

input[type="button"] {
    padding: 5px;
    margin: 10px;
    background-color: white;
    border: 5px solid cornflowerblue;
}


hr {
    margin: 55px !important;
    border: 1.5px solid grey !important;
}

.fa {
    padding: 10px;
    margin: 10px;
}

.R {
    text-align: right;
}

.L {
    text-align: left;
}

.C {
    text-align: center;
}


input > .btnSave {
    border: 5px solid cornflowerblue;
}

input > .btnDelete {
    border: 5px solid rgb(237, 100, 100);
}

.row {
    margin-top: 50px;
    margin-bottom: 50px;
}