#logo {
    font-size: 36px;
    color: #e8ba00;
}

.fa-times {
    color: crimson;
}

.redbutton {
    border: 5px solid #ff000085;
}

.R {
    text-align: right;
}

.L {
    text-align: left;
}

.C {
    text-align: center;
}

.linkButton {
    border: 1px solid #e8ba00;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    color: black;
    min-width: 100px;
}

    .linkButton:hover {
        background-color: #e8ba00;
        color: black;
        text-decoration: none;
        min-width: 100px;
    }

#postBody {
    height: auto;
    min-width: 100%;
    min-height: 303px;
}

.buttonContainer {
    margin-top: 50px;
}

#titleBlog {
    padding: 12px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

#modelOne {
    height: 100px;
    background-color: #00c5cc;
    background-image: url(https://www.transparenttextures.com/patterns/asfalt-dark.png);
}

#modelTwo {
    height: 100px;
    background-color: #f9a7b0;
    background-image: url(https://www.transparenttextures.com/patterns/asfalt-dark.png);
}

#backButton {
    background-color: yellow;
    border-radius: 100%;
}

.about {
    padding: 10px;
}
