@model WebPorfolioGenerator.Models.User
@{
    ViewData["Title"] = "Delete";
}

<div class="wrapper">
    <div class="container">
        <h1>Welcome</h1>

        <form id="login" class="form">
            <input class="col-md-12" type="text" placeholder="Username">
            <input class="col-md-12" type="password" placeholder="Password">
            <input asp-action="Index" class="col-md-12" type="button" value="GO!" id="login-button">
        </form>
        @*<label> @{ ViewData["Incorrecto"] = ""; }</label>*@
        <div class="form-group">
            <input type="submit" value="CorrectLogin" class="btn btn-default" />
        </div>
    </div>
</div>
