@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<form>
    <div class="container">
        <div class="col-md-12">
            <h2>Nombre persona - Profile</h2>
            <div class="row">
                <label class="col-md-12">Name</label>
                <input class="col-md-12" type="text" placeholder="Name">

                <label class="col-md-12">Surname</label>
                <input class="col-md-12" type="text" placeholder="Surname">

                <label class="col-md-12">Email</label>
                <input class="col-md-12" type="text" placeholder="Email">

                <label class="col-md-12">Phone number</label>
                <input class="col-md-12" type="text" placeholder="Phone number">

                <label class="col-md-12">Birthday</label>
                <input class="col-md-4" type="number" placeholder="Day">
                <input class="col-md-4" type="month" placeholder="Month">
                <input class="col-md-4" type="number" placeholder="Year">

            </div>

            <h2>Employee especific data</h2>
            <div class="row">
                <label class="col-md-6">Rol</label>
                <input class="col-md-6" type="text" placeholder="Old password">
            </div>

            <h2>Client especific data</h2>
            <div class="row">
                <label class="col-md-12">Bussiness name</label>
                <input class="col-md-12" type="text" placeholder="Bussiness name">

                <label class="col-md-12">Porfolio type</label>
                <input class="col-md-12" type="text" placeholder="Porfolio type">
            </div>
            
            <h2>Password</h2>
            <div class="row">
                <label class="col-md-6">Old Password</label>
                <label class="col-md-6">New Password</label>
                <input class="col-md-6" type="text" placeholder="Old password">
                <input class="col-md-6" type="text" placeholder="New password">
            </div>
            <div class="row">
                <input class="col-md-5 btnDelete" id="btnNewFooterMenu" type="button" value="Delete">
                <input class="col-md-5 btnSave" id="btnSaveFooterMenu" type="button" value="Save">
            </div>
        </div>
        <hr />

    </div>
</form>	